footer#footer
	div.container
		div.columns
			div.column
				div.links
					a(href="#") Company
					a(href="#") Contact us
					a(href="#") Shipping <br>
					a(href="#") Returns
					a(href="#") Careers

				div.social
					ul
						li: a(href="#") Facebook
						li: a(href="#") Twitter
						li: a(href="#") Pinterest
						li: a(href="#") Tumblr
						li: a(href="#") Google Plus

				div.copyright
					p &copy; 2015 Merlin's Potions. All Rights Reserved

			div.column
				div.well.well-white
					p Sign up for our Newsletter

					p Sign up for our newsletter &amp; get exclusive discounts!

					form(method="POST")
						input.input(type="email" placeholder="Enter your email")
						button.button(type="submit") Submit



link(rel="stylesheet" href="css/bulma.min.css")
link(rel="stylesheet" href="css/style.min.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Oswald:400,500")
script(type="text/javascript" src="js/script.min.js")