

link(rel="stylesheet" href="css/bulma.min.css")
link(rel="stylesheet" href="css/style.min.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Oswald:400,500")
script(type="text/javascript" src="js/script.min.js")