#footer {
	@include margin-direction('y', 0);
	background-color: $gray;

	.links {
		color: $red;
		margin-bottom: 15px;

		a {
			@include margin-direction('x', 15px);
			color: inherit;
			font-size: 1.3em;
			text-transform: uppercase;

			&:first-child, &:nth-child(4) {
				margin-left: 0;
			}
		}
	}
}