<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="title" content="Merlin's Potions - Fine potions since 1026")
		meta(name="description" content="")
		meta(name="url" content="")
		meta(name="msapplication-TileColor" content="")
		meta(name="msapplication-TileImage" content="")
		meta(name="theme-color" content="")

		link(rel="manifest" href="manifest.json")
		link(rel="apple-touch-icon-precomposed" href="")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-title" content="Merlin's Potions")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

		meta(property="og:title" content="Merlin's Potions - Fine potions since 1026")
		meta(property="og:type" content="website")
		meta(property="og:url" content="")
		meta(property="og:image" content="")
		meta(property="og:description" content="")
		
		title Merlin's Potions - Fine potions since 1026

	body
		include inc/header
		include inc/potions
		include inc/footer